.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fotos{
	display: inline-block;
	padding: 5px;
}

.Nome{
	text-align: center;
	color: #c0b283;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
/*  text-align: center;*/
  margin-top: 10px;
}