header {
	margin-bottom: 100px;
}

main {
	text-align: justify;
}

#pagina {
	background-color: #DCD0C0;
	color: white;
} 

#h2 {
	margin-top: 5%;
}

h2 {
	color: #DCC683;
	border-bottom: 1px solid #DCC683; 
}

main p {
	padding: 4% 0;
}

main ul {
	padding: 4% 0;
}
button {
	display: inline-block;
	padding: 5%;
}

#botao1, #botao2 {
	border-radius: 10px;
	background-color: #DCD0C0;
	color: black;
	font-size: 13pt;
	display: inline-block;
	margin: 2% 14.5%;
	padding: 1% 0; 
	width: 17%;
	height: 4em; 
}

.selecionado {
	background-color: #999085 !important;
}

footer {
	background-color: #DCD0C0;
	padding: 2%;
	margin-top: 4%;
}

#imagem, footer p {
	display: inline-block; 
}

footer p {
	padding-left: 20%;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}

